# Freelancer.com API Credentials & Session Auth
FREELANCER_ACCESS_TOKEN=3PKsiB3m736mE0wnirnHeLTUzLP1xc
FREELANCER_SESSION=3PKsiB3m736mE0wnirnHeLTUzLP1xc
FREELANCER_AUTH_TOKEN=3PKsiB3m736mE0wnirnHeLTUzLP1xc

# Google Gemini API Key (For AI Cover Letter Generation)
GEMINI_API_KEY=

# Telegram Alerts (Bot Notification Dispatcher)
TELEGRAM_BOT_TOKEN=8913909724:AAGBwYmBTHwjmvJ8Fjp0dGLcDh-JOlZbCBI
TELEGRAM_CHAT_ID=994339174

# Admin Dashboard Authentication (Basic Auth for /dashboard)
DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=3PKsiB3m736mE0wnirnHeLTUzLP1xc

# Base & SQLite / PostgreSQL Configuration
DATABASE_URL=postgresql://neondb_owner:npg_L6xTbr0PsJuG@ep-weathered-grass-aer0ibj5-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
BASE_URL=https://kundanvision369.onrender.com/
SQLITE_DB_PATH=bids.db
PORT=3000

# PayPal REST Gateway & Business Account Configuration
PAYPAL_RECEIVER_EMAIL=kundank4@icloud.com
PAYPAL_ME_USERNAME=ky8402
PAYPAL_MODE=live
PAYPAL_CLIENT_ID=ActZcBABekzSaq6kvVL_s3ITIvcc0RsjabBGCmNCJZE0LanSUtxLwOBQjWz8y2_dNhsISLSXOYaz4Ls3
PAYPAL_CLIENT_SECRET=EOKsiNxR314HMHXiwyEoT771jbHrRpInGi6Ybh1zIc2DVv7cXApb9NoggUdoVH46RFGekUZWrIC6XIQn
PAYPAL_WEBHOOK_ID=2BL477687P123401A

# Redis Cache Configuration (Optional - High-speed in-memory fallback enabled by default)
REDIS_URL=redis://localhost:6379

